* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles 
colour : 1 : #2e3267;
colour : 2 : #6c63ff;


*/


body {
  font-family: Arial, sans-serif;
}

/* Navigation styles */
nav {
  background-color: #f5f5f5;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 20px;
}

.logo a {
  text-decoration: none;
  color: #2e3267;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bars {
  width: 30px;
  height: 3px;
  background-color: #2e3267;
  margin-bottom: 6px;
  transition: background-color 0.3s;
}

.navbar-brand {
  text-decoration: none;
  font-family: "Arial Black", sans-serif;
  font-size: 24px;
  color: #2e3267;
  transition: transform 0.3s;
}

.navbar-brand:hover {
  transform: rotate(10deg) scale(1.2);
}

.nav_menu {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.nav_menu li {
  gap: 40px;
  margin-right: 10px;
}

.nav_menu li a {
  font-size: 20px;
  text-decoration: none;
  color: #2e3267;
}

.nav_menu li a:hover {
  color: #6c63ff;
}

.social-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.social-icon a {
  text-decoration: none;
  color: #2e3267;
}

.social-icon a:hover img {
  filter: brightness(10%) saturate(25%) hue-rotate(240deg);
}

.social-icon a img {
  width: 24px;
  height: 24px;
  filter: invert(32%) sepia(0%) saturate(90%) hue-rotate(215deg) brightness(103%) contrast(100%);
}

.connectButton {
  font-size: 18px;
  margin-left: 20px;
  padding: 15px 20px;
  border-radius: 8px;;
  background-color: #2e3267;
  color: #fff;
  border: none;
  cursor: pointer;
}

.navbar-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .bars {
    background-color: #2e3267;
    transition: background-color 0.3s;
  }

  .menu-open .bars {
    background-color: #fff;
  }

  .menu-open .bars:nth-child(2) {
    opacity: 0;
  }

  .menu-open .bars:nth-child(1) {
    transform: rotate(45deg) translate(6px, 7px);
  }

  .menu-open .bars:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .nav_menu {
    display: none;
    margin-top: 10px;
  }

  .nav_menu li {
    display: block;
    margin-bottom: 5px;
  }

  .social-icon {
    margin-top: 10px;
    margin-right: 0;
  }

  .connectButton {
    margin-top: 10px;
  }
}




/* Header styles */

header {
    background-color: rgba(31,38,65,255);
    color: #fff;
    padding: 40px;
    display: flex;
    align-items: center;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #2e3267;
    padding: 20px;
  }
  
  .banner-text {
    flex: 1;
    text-align: center;
  }
  
  
.banner-text h1 {
  font-size: 36px; /* Increase font size for emphasis */
  margin-bottom: 24px;
  color: #f6f3f0; /* Highlight with a different color */
  text-transform: uppercase; /* Transform to uppercase for added impact */
  overflow: hidden; /* Hide overflow to create typewriter effect */
  white-space: nowrap; /* Prevent wrapping */
  /* border-right: 2px solid #fff; Create blinking cursor effect */
  /* animation: typewriter 6s steps(40) infinite; Typewriter animation */
  text-decoration: none; /* Remove text decoration */
}
  
  .banner-text p {
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
  }
  
  
  .banner-image {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    overflow: hidden; /* Add overflow property to prevent image overflow */
  }
  
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container.menu-open .navbar-text {
    display: flex;
  }

  /* coding profile styles */
/* .highlight {
  color: rgb(228, 11, 11);
} */

.codingPortfolio {
  display: flex;
  justify-content: center;
  gap: 20px; /* Increased gap for better spacing */
  margin-top: 20px;
}

.profileButton {
  background-color: #fff;
  border: 2px solid rgba(31, 38, 65, 255); /* Border added for definition */
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
}

.profileButton a {
  color: rgba(31, 38, 65, 255); /* Matches border color */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileButton img {
  width: 144px; /* Adjust size as needed */
  height: 36px;
  margin-right: 10px; /* Adds space between icon and text */
}

.profileButton:hover {
  background-color: #fff;
  border-color: #fff;;
}

.profileButton:hover a {
  color: #fff;
}


 /* Responsive styles for mobile */
@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .banner {
    flex-direction: column;
    align-items: center;
  }

  .banner-text {
    margin-top: 20px;
    text-align: center;
  }

  .banner-image {
    width: 250px;
    height: 250px;
    margin: 0 auto; /* Center horizontally */
    order: -1; /* Ensure image appears above other content if needed */
  }
  .codingPortfolio {
    flex-direction: column;
    gap: 10px;
  }

  .profileButton {
      width: 100%;
      height:60%;
      padding: 15px 0;
  }
}
/* Responsive styles for mobile */
@media (max-width: 768px) {
  .banner-text {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
    white-space: normal;
    border-right: none;
    animation: none;
  }

  .banner-text p {
    font-size: 16px;
    line-height: 1.4;
  }
}


    
  /* skills section  */

  /* .skills-section {
    background-color: #2e3267;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin-bottom: -30px;
  }
  
  .skills-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .skill {
    flex-basis: 45%;
    margin: 15px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .skill h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #2e3267;
  }
  
  .skill ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
  }

  .skills li {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.skills li i {
  min-width: 20px;
  font-size: 1.2rem;
}

  
  .skill ul li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #2e3267;
  }
  
  .skill ul li:before {
    content: "\2022";
    color: #2e3267;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  
  
  @media (max-width: 768px) {
    .skill {
      flex-basis: 100%;
    }
  } */

  .skills-section {
  background-color: #2e3267;
  color: #fff;
  padding: 40px;
  text-align: center;
  margin-bottom: -30px;
}

.skills-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.skill {
  flex-basis: 45%; /* Keep original box width */
  margin: 15px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.skill h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #2e3267;
}

.skill ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 350px; /* Widened for better spacing */
}

.skill ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  font-size: 18px; /* Increased text size */
  font-weight: 500;
  color: #2e3267;
  margin-bottom: 10px;
  text-align: left;
}

.skill ul li i {
  min-width: 26px;
  font-size: 1.6rem; /* Increased icon size */
}

/* Remove bullet points */
.skill ul li:before {
  content: none;
}

/* Responsive layout for mobile */
@media (max-width: 768px) {
  .skill {
    flex-basis: 90%;
  }

  .skill ul {
    max-width: 100%;
  }

  .skill ul li {
    justify-content: center;
  }
}


  
/* Experience section */

/* Experience section */
.experience-section {
  background-color: rgba(31,38,65,255);
  color: #060606;
  padding: 40px;
  text-align: center;
  margin-bottom: -40px;
}

.experience-section h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 30px;
}

.experience {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.experience-item {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.experience-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Align logo with company name */
.company-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company-logo img {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.experience-details {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.experience-details h3 {
  font-size: 30px;
  margin-bottom: 15px;
}

.experience-details h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.experience-details ul {
  padding-left: 20px;
  margin: 0;
}

.experience-details ul li {
  font-size: 18px;
  margin-bottom: 10px;
  list-style-type: disc;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .experience-item {
    flex-direction: column;
  }

  .company-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .company-logo img {
    height: 40px;
  }

  .experience-details {
    padding: 20px;
  }

  .experience-details h3 {
    font-size: 20px;
  }

  .experience-details h4 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .experience-details ul li {
    font-size: 14px;
  }
}

/* .experience-section {
  background-color: rgba(31,38,65,255);
  color: #060606;
  padding: 40px;
  text-align: center;
  margin-bottom: -40px;
}

.experience-section h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 30px;
}

.experience {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.experience-item {
  width: 100%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  transition: box-shadow 0.3s, transform 0.3s; 
}

.experience-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transform: translateY(-5px);
}

.company-logo {
  width: 120px;
  padding:20px;
}

.company-logo img {
  max-width: 100%;
  height: auto;
}

.company-logo-Lincode{
  width: 120px;
  padding-right: -10px;
  padding:10px;
}

.company-logo-Lincode img{
  max-width: 100%;
  height: auto;
}
.experience-details {
  flex: 1;
  padding: 40px;
  text-align: left;
}

.experience-details h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.experience-details ul {
  padding-left: 20px;
  margin: 0;
}

.experience-details ul li {
  font-size: 16px;
  margin-bottom: 10px;
  list-style-type: disc;
}


@media (max-width: 768px) {
  .experience-item {
    flex-direction: column;
  }
  
  .company-logo {
    width: 80px;
    padding: 20px; 
    margin-bottom: 20px;
  }

  .experience-details {
    padding: 20px;
  }

  .experience-details h3 {
    font-size: 20px;
  }

  .experience-details ul li {
    font-size: 14px;
  }
} */

  /* ------------- Project Section --------------------*/
 /* Projects Section CSS */
.projects-section {
  background-color: #2e3267;
  padding: 40px;
  margin-top: -10px;
  text-align: center;
}

.projects-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.project {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

.project-image {
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.project-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #262525;
}

.project-info p {
  font-size: 16px;
  color: #1f1e1e;
  margin-bottom: 15px;
}

.project-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.project-button {
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #2e3267;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.project-button:hover {
  background-color: #f75842;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .project {
    flex: 0 0 calc(100% - 20px);
  }

  .project-image {
    height: 200px;
  }

  .project-info {
    padding: 15px;
  }

  .project-info h3 {
    font-size: 20px;
  }

  .project-info p {
    font-size: 14px;
  }
}

  
  

  /* ----------------- Certificate --------------------------*/
  

.certificates-section {
  background-color: #1f2641;
  padding: 40px;
  text-align: center;
}

.certificates-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.certificates-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.certificate-card {
  flex-basis: calc(33.33% - 20px); /* Adjust based on your design */
  margin: 10px; /* Add margin for spacing */
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s;
}

.certificate-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s;
}

.certificate-card:hover {
  transform: scale(1.05); /* Add a hover effect to slightly scale up the certificate card */
}

@media (max-width: 768px) {
  .certificate-card {
    flex-basis: calc(50% - 20px); /* Adjust for mobile layout */
  }
}






  /*----------------footer section -----------------*/

  .footer-section {
    background-color: #2e3267;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left, .footer-right {
    flex-basis: 50%;
  }
  
  .footer-left h3, .footer-right h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-left ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .footer-left ul li i {
    margin-right: 10px;
  }
  
  .footer-right .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 24px;
    gap:10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: rgb(55, 0, 255);
  }
  
  .resume-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgb(228, 11, 11);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .resume-button:hover {
    background-color: #c70000;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu li a:hover {
    background-color: #6c63ff;
    color: #fff;
  }
  
  .footer-bottom:before {
    content: "";
    display: block;
    height: 2px;
    background-color: #6c63ff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  
  .menu {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
   /* change in li */
  .menu li {
    margin: 0 2px;
  }
}


  /*---------------------------- About Section CSS-------------------------- */
  .about-section {
    text-align: center;
    background-color: #1f2641;
    color: #fff;
    padding: 20px;
  }
  
  .about-section h2 {
    font-size: 32px;
  }
  
  .about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50rem;
    margin-top: 100px;
    margin-bottom: 60px;
  }
  
  .profile-name h3 {
    font-size: 28px;
    margin-left: -20rem;
    margin-top: 25rem;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about-text {
    flex: 1;
    text-align: left;
    text-decoration: none;
  }
  
  .about-text {
    margin-bottom: 10px;
    margin-top: -23rem;
  }
  
  .about-text h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-text li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .education,
  .experience,
  .extracurricular-activities {
    margin-bottom: 20px;
  }
  
  .education ul,
  .experience-details ul,
  .extracurricular-activities ul {
    list-style-type: none; /* Remove the bullet points */
    padding-left: 20px;
  }
  
  .experience img {
    width: 120px;
    height: auto;
    margin-left: 30rem;
    margin-top: -30px;
  }
  
  .report-button {
    margin-top: 10px;
    margin-left: 30px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  .report-button:hover {
    background-color: rgb(7, 245, 134);
    color: #fff;
  }
  
  /* Responsive styles for smaller screens */
 @media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image,
  .experience img {
    display: none;
  }

  .profile-name h3 {
    text-align: center;
    margin-top: 10px;
  }

  .about-text {
    margin-top: 20px;
  }
}

  