* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
}

/* Navigation styles */
nav {
  background-color: #f5f5f5;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 20px;
}

.logo a {
  text-decoration: none;
  color: #333;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.bars {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-bottom: 6px;
  transition: background-color 0.3s;
}

.navbar-brand {
  text-decoration: none;
  font-family: "Arial Black", sans-serif;
  font-size: 20px;
  color: #333;
  transition: transform 0.3s;
}

.navbar-brand:hover {
  transform: rotate(10deg) scale(1.2);
}


.nav_menu {
  display: flex;
  list-style: none;
  margin-right: 20px;

}

.nav_menu li {
  margin-right: 10px;
}

.nav_menu li a {
  text-decoration: none;
  color: #333;
}
.nav_menu a:hover {
  color: rgb(115, 79, 247);
}

.social-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  justify-content: space-between;
  color: #333;
  transition: color 0.3s ease;
}

.social-icon a img {
  color: #333;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  height: 20px;
  filter: invert(32%) sepia(0%) saturate(90%) hue-rotate(215deg) brightness(103%) contrast(100%);
  gap: 5px;
  
}


.social-icon img:hover {
  color: rgb(55, 0, 255);
}



.connectButton {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}
.navbar-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_menu {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .bars {
    background-color: #333;
    transition: background-color 0.3s;
  }

  .menu-open .bars {
    background-color: #fff;
  }

  .menu-open .bars:nth-child(2) {
    opacity: 0;
  }

  .menu-open .bars:nth-child(1) {
    transform: rotate(45deg) translate(6px, 7px);
  }

  .menu-open .bars:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }

  .nav_menu {
    display: none;
    margin-top: 10px;
  }

  .nav_menu li {
    display: block;
    margin-bottom: 5px;
  }

  .social-icon {
    margin-top: 10px;
    margin-right: 0;
  }

  .connectButton {
    margin-top: 10px;
  }
}
/* Header styles */

header {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    align-items: center;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .banner-text {
    flex: 1;
    text-align: center;
  }
  
  .banner-text h1 {
    font-size: 36px;
    margin-bottom: 24px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #333;
    animation: typewriter 4s steps(24) infinite, blink-caret 0.5s step-end infinite;
  }
  
  .banner-text p {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
  }
  
  
  .banner-image {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    overflow: hidden; /* Add overflow property to prevent image overflow */
  }
  
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container.menu-open .navbar-text {
    display: flex;
  }
  
  
  /* Typewriter animation */
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 62%;
    }
  }
  
  /* Blink caret animation */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #fff;
    }
  }
 /* Responsive styles for mobile */
@media (max-width: 768px) {
  header {
    padding: 20px;
  }

  .banner {
    flex-direction: column;
    align-items: center;
  }

  .banner-text {
    margin-top: 20px;
    text-align: center;
  }

  .banner-image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    order: -1;
  }
}
/* Responsive styles for mobile */
@media (max-width: 768px) {
  .banner-text {
    text-align: center;
  }

  .banner-text h1 {
    font-size: 24px;
    margin-bottom: 5px;
    white-space: normal;
    border-right: none;
    animation: none;
  }

  .banner-text p {
    font-size: 16px;
    line-height: 1.4;
  }
}


    
  /* skills section  */

  .skills-section {
    background-color: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin-bottom: -20px;;
  }
  
  .skills-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .skill {
    flex-basis: 45%;
    margin: 15px;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .skill h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .skill ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .skill ul li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #666;
  }
  
  .skill ul li:before {
    content: "\2022";
    color: #666;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  @media (max-width: 768px) {
    .skill {
      flex-basis: 100%;
    }
  }

  /* ------------- Project Section --------------------*/
  
  .projects-section {
    background-color: #333;
    padding: 40px 0;
    text-align: center;
   
  }
  
  .projects-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .slider-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
    padding: 0 100px;
  }
  
  .slider {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin: 0 -15px;
  }
  
  .project {
    flex: 0 0 400px;
    margin: 0 15px;
    scroll-snap-align: start;
  }
  
  .project-image {
    height: 250px;
    overflow: hidden;
  }
  
  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-info {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .project-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .project-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .project-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .project-button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .project-button:hover {
    background-color: #555;
  }
  
  /* Responsive styles for mobile */
  @media (max-width: 768px) {
    .slider-container {
      padding: 0 20px;
    }
  
    .project {
      flex: 0 0 auto;
      margin: 0 10px;
    }
  
    .slider {
      flex-wrap: nowrap;
      overflow-x: scroll;
      margin: 0 -5px;
      padding-bottom: 10px;
    }
  
    .project-image {
      height: 200px;
    }
  
    .project-info {
      padding: 15px;
    }
  
    .project-info h3 {
      font-size: 20px;
    }
  
    .project-info p {
      font-size: 14px;
    }
  }
  
  

  /* ----------------- Certificate --------------------------*/
  
  .certificate-section {
    background-color: #333;
    padding: 40px;
    text-align: center;
  }
  
  .certificate-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .certificate {
    flex: 0 0 400px;
    margin-right: 15px;
    scroll-snap-align: start;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .certificate-image {
    height: auto; /* Adjust the height as per your preference */
    width: 600px; /* Adjust the width as per your preference */
    overflow: hidden;
  }
  
  .certificate-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .arrow:hover {
    background-color: #f5f5f5;
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 20px;
  }

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .certificate {
    flex: 0 0 100%; /* Show one certificate per row on mobile */
    margin-right: 10px;
    max-width: calc(100% - 10px); /* Adjust the maximum width as needed */
  }

  .slider-container {
    padding: 0;
    overflow-x: auto; /* Enable horizontal scrolling for multiple certificates */
    display: flex;
    align-items: flex-start; /* Align certificates to the top */
  }

  .slider {
    scroll-snap-type: none; /* Disable scroll snap for mobile devices */
    width: max-content; /* Adjust the width of the slider container */
    white-space: nowrap; /* Prevent certificates from wrapping to a new line */
  }

  .arrow {
    font-size: 18px;
    padding: 8px;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}




  /*----------------footer section -----------------*/

  .footer-section {
    background-color: #fff;
    color: #333;
    padding: 40px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left, .footer-right {
    flex-basis: 50%;
  }
  
  .footer-left h3, .footer-right h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-left ul li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .footer-left ul li i {
    margin-right: 10px;
  }
  
  .footer-right .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 24px;
    gap:10px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: rgb(55, 0, 255);
  }
  
  .resume-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgb(228, 11, 11);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .resume-button:hover {
    background-color: #c70000;
  }
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .menu li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  .footer-bottom:before {
    content: "";
    display: block;
    height: 2px;
    background-color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-left,
  .footer-right {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  
  .menu {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .menu li {
    margin: 0 10px;
  }
}


  /*---------------------------- About Section CSS-------------------------- */
  .about-section {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .about-section h2 {
    font-size: 32px;
  }
  
  .about-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50rem;
    margin-top: 100px;
    margin-bottom: 60px;
  }
  
  .profile-name h3 {
    font-size: 28px;
    margin-left: -20rem;
    margin-top: 25rem;
  }
  
  .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about-text {
    flex: 1;
    text-align: left;
    text-decoration: none;
  }
  
  .about-text {
    margin-bottom: 10px;
    margin-top: -23rem;
  }
  
  .about-text h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-text li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .education,
  .experience,
  .extracurricular-activities {
    margin-bottom: 20px;
  }
  
  .education ul,
  .experience-details ul,
  .extracurricular-activities ul {
    list-style-type: none; /* Remove the bullet points */
    padding-left: 20px;
  }
  
  .experience img {
    width: 120px;
    height: auto;
    margin-left: 30rem;
    margin-top: -30px;
  }
  
  .report-button {
    margin-top: 10px;
    margin-left: 30px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  .report-button:hover {
    background-color: rgb(7, 245, 134);
    color: #fff;
  }
  
  /* Responsive styles for smaller screens */
 @media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image,
  .experience img {
    display: none;
  }

  .profile-name h3 {
    text-align: center;
    margin-top: 10px;
  }

  .about-text {
    margin-top: 20px;
  }
}

  