<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8903551c9.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script>
      $(document).ready(function() {
        var certificates = $(".certificate");
        var currentIndex = 0;

        $(".next").click(function() {
          if (currentIndex < certificates.length - 1) {
            certificates.eq(currentIndex).hide();
            currentIndex++;
            certificates.eq(currentIndex).show();
          }
        });

        $(".prev").click(function() {
          if (currentIndex > 0) {
            certificates.eq(currentIndex).hide();
            currentIndex--;
            certificates.eq(currentIndex).show();
          }
        });
      });

    </script>
    <title>Certificate</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo navbar-brand">
              <a href="../index.html"><h1>AlkeshXperience</h1></a>
            </div>
            <ul class="nav_menu">
                <li><a href="../Components/home.html">Home</a></li>
                <li><a href="../Components/Skills.html">Skills</a></li>
                <li><a href="../Components/experiance.html">Experience</a></li>
                <li><a href="../Components/project.html">Project</a></li>
                <li><a href="../Components/certificate.html">Certificate</a></li>
                <li><a href="../Components/About.html">About</a></li>
            </ul>
            <span class="navbar-text">
                <div class="social-icon">
                    <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/"><img src="../img/nav-icon1.svg" alt="" /></a>
                    <a href="https://www.facebook.com/alkesh.shukla.7923"><img src="../img/nav-icon2.svg" alt="" /></a>
                    <a href="https://www.instagram.com/shuklalkesh_11/"><img src="../img/nav-icon3.svg" alt="" /></a>
                </div>
                <button class="connectButton">Let's Connect</button>
            </span>
        </div>
    </nav>

    <!---------------Certificate section-------------------->

    <section class="certificates-section">
        <h2>Certificates</h2>
        <div class="certificates-container">
          <!-- Add your certificate cards here -->
          <div class="col-md-4 certificate-card">
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-17bd7029-7607-46f3-8e2b-9aa854458d65.jpg?v=1694940456000" alt="Certificate 1">
          </div>
          <div class="col-md-4 certificate-card">
            <img src="../Certificate/Supervised Machine Learning Regression and Classification.jpg" alt="Certificate 2">
          </div>
          <div class="col-md-4 certificate-card">
            <img src="../Certificate/Advanced Learning Algorithms.jpg" alt="Certificate 3">
          </div>
          <div class="col-md-4 certificate-card">
            <img src="../Certificate/python_machine_learning.jpg" alt="Certificate 1">
          </div>
          <div class="col-md-4 certificate-card">
            <img src="../Certificate/Excell_certificate.jpg" alt="Certificate 2">
          </div>
          <!-- Add more certificate cards as needed -->
        </div>
      </section>

      <!--------------Footer section ----------------------->

    <footer class="footer-section">
      <div class="footer-container">
        <div class="footer-left">
          <h3>Contact</h3>
          <ul>
            <li><i class="fas fa-envelope"></i> Email: shuklalkesh@gmail.com</li>
            <li><i class="fas fa-phone"></i> Phone: +91 9569779290</li>
          </ul>
        </div>
        <ul class="menu">
          <li><a href="../Components/home.html">Home</a></li>
          <li><a href="../Components/Skills.html">Skills</a></li>
          <li><a href="../Components/project.html">Project</a></li>
          <li><a href="../Components/certificate.html">Certificate</a></li>
          <li><a href="../Components/About.html">About</a></li>
        </ul>
        <div class="footer-right">
          <h3>Social Media</h3>
          <div class="social-icons">
            <a href="https://www.facebook.com/alkesh.shukla.7923" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/shuklaAlkesh" target="_blank"><i class="fab fa-github"></i></a>
          </div>
          <a href="../pdf/Alkesh_Shukla_resume.pdf" download class="resume-button">Download Resume</a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Alkesh shukla. All rights reserved.</p>
      </div>
    </footer>

    
</body>
</html>