<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8903551c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo navbar-brand">
                <a href="../index.html"><h1>AlkeshXperience</h1></a>
            </div>
            <ul class="nav_menu">
                <li><a href="../Components/home.html">Home</a></li>
                <li><a href="../Components/Skills.html">Skills</a></li>
                <li><a href="../Components/experiance.html">Experience</a></li>
                <li><a href="../Components/project.html">Project</a></li>
                <li><a href="../Components/certificate.html">Certificate</a></li>
                <li><a href="../Components/About.html">About</a></li>
            </ul>
            <span class="navbar-text">
                <div class="social-icon">
                    <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/"><img src="../img/nav-icon1.svg" alt="" /></a>
                    <a href="https://www.facebook.com/alkesh.shukla.7923"><img src="../img/nav-icon2.svg" alt="" /></a>
                    <a href="https://www.instagram.com/shuklalkesh_11/"><img src="../img/nav-icon3.svg" alt="" /></a>
                </div>
                <button class="connectButton">Let's Connect</button>
            </span>
        </div>
    </nav>
    
    <header>
      <div class="container">
        <div class="banner-text">
          <h1>Welcome to AlkeshXperience</h1>
          <p>Hey there! 👋 I'm Alkesh Shukla, a passionate Full Stack Web Developer and Data Science enthusiast.</p>
          <p>🎓 Currently pursuing my Bachelor's degree in Electronics and communication Engineering (ECE) at IIIT Sri City, Andhra Pradesh.</p>
          <p>💻 With a love for cutting-edge technologies, I create stunning and user-friendly web applications.</p>
          <p>🚀 Proficient in HTML, CSS, JavaScript, React, Node.js, and SQL, I build dynamic and interactive websites.</p>
          <p>📊 Skilled in data analysis and visualization using Python, Pandas, and Matplotlib.</p>
          <p>🔍 Attention to detail and a passion for seamless user experiences drive my work.</p>
          <p>💡 Explore my portfolio and projects to witness the results of my creative endeavors.</p>
          <p>✨ Let's connect and bring our ideas to life!</p>
          <p>🔗 Check out my profiles on <strong>Leetcode</strong> and <strong>Geeks for Geeks</strong> for more insights into my coding journey and problem-solving skills.</p>
            <div class="codingPortfolio">
                <button class="profileButton"><a href="https://leetcode.com/u/shukla2002alkesh/" target="_blank"><img src="../img/Letcode2.png"></a></button>
                <button class="profileButton"><a href="https://www.geeksforgeeks.org/user/shukla2002alkesh/" target="_blank"><img src="../img/GeeksforGeeks.png" alt=""></a></button>
            </div>
      </div>
              
              <div class="banner-image">
                  <img src="../img/Alkesh_Photo-fotor.jpg" alt="Profile Photo">
              </div>
          </div>
      </div>
  </header>

    <!--------------Footer section ----------------------->

    <footer class="footer-section">
        <div class="footer-container">
          <div class="footer-left">
            <h3>Contact</h3>
            <ul>
              <li><i class="fas fa-envelope"></i> Email: shuklalkesh@gmail.com</li>
              <li><i class="fas fa-phone"></i> Phone: +91 9569779290</li>
            </ul>
          </div>
          <ul class="menu">
            <li><a href="../Components/home.html">Home</a></li>
            <li><a href="../Components/Skills.html">Skills</a></li>
            <li><a href="../Components/project.html">Project</a></li>
            <li><a href="../Components/certificate.html">Certificate</a></li>
            <li><a href="../Components/About.html">About</a></li>
          </ul>
          <div class="footer-right">
            <h3>Social Media</h3>
            <div class="social-icons">
              <a href="https://www.facebook.com/alkesh.shukla.7923" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/shuklaAlkesh" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <a href="../pdf/Alkesh_Shukla_resume.pdf" download class="resume-button">Download Resume</a>
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Alkesh shukla. All rights reserved.</p>
        </div>
      </footer>
      
    
</body>
</html>