<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8903551c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Project</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo navbar-brand">
                <a href="../index.html"><h1>AlkeshXperience</h1></a>
            </div>
            <ul class="nav_menu">
              <li><a href="../Components/home.html">Home</a></li>
              <li><a href="../Components/Skills.html">Skills</a></li>
              <li><a href="../Components/experiance.html">Experience</a></li>
              <li><a href="../Components/project.html">Project</a></li>
              <li><a href="../Components/certificate.html">Certificate</a></li>
              <li><a href="../Components/About.html">About</a></li>
            </ul>
            <span class="navbar-text">
                <div class="social-icon">
                    <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/"><img src="../img/nav-icon1.svg" alt="" /></a>
                    <a href="https://www.facebook.com/alkesh.shukla.7923"><img src="../img/nav-icon2.svg" alt="" /></a>
                    <a href="https://www.instagram.com/shuklalkesh_11/"><img src="../img/nav-icon3.svg" alt="" /></a>
                </div>
                <button class="connectButton">Let's Connect</button>
            </span>
        </div>
    </nav>
    <section class="projects-section">
        <h2>Projects</h2>
        <div class="slider-container">
          <div class="slider">

            <div class="project">
              <div class="project-image">
                <img src="../img/Molecular_and_Terahertz_communication_interface_BTP_Project.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Interfacing of Molecular and Terahertz Communications for Internet of Nano Things (IoNT) Applications</h3>
                  <p>Next-Gen IONT: Integrating Molecular and Terahertz for Nanomachines</p>

                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/-Interfacing-of-Molecular-and-Terahertz-Communications-for-Internet-of-Nano-Things-IoNT-Applications" target="_blank" class="project-button">GitHub</a>
                  <a href="../pdf/Next-Gen IONT Integrating Molecular and Terahertz for Nanomachines.pdf" target="_blank" class="project-button">PDF</a>
                </div>
              </div>
            </div>


            <div class="project">
              <div class="project-image">
                <img src="../img/Brain tumor detection.jpg" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>MRI-Based Brain Tumor Detection System</h3>
                <p>Revolutionizing medical diagnostics, our project utilizes advanced Machine Learning and Deep Learning for early detection of brain tumors through MRI scans. Experience the future of healthcare with precise and efficient diagnosis.</p>

                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Brain-Tumor-Detector-using-MRI-Images-.git" target="_blank" class="project-button">GitHub</a>
                  <a href="../pdf/Brain_Tumor_detection_PR_project_Report_Team_5.pdf" target="_blank" class="project-button">PDF</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/QCA.webp" alt="Project 2">
              </div>
              <div class="project-info">
                <h3>Revolutionizing Computation: Reversible Circuits with Quantum Dot Cellular Automata</h3>
                <p>Efficient synthesis of reversible circuits using Quantum Dot Cellular Automata for energy-efficient and compact computing.</p>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Efficient-Synthesis-of-Reversible-Circuits-Using-Quantum-Dot-Cellular-Automata-QCA-VLSI-project.git" target="_blank" class="project-button">GitHub</a>
                  <a href="../pdf/Batch_23_VLSI_Project_Report.pdf" target="_blank" class="project-button">PDF</a>
                </div>
              </div>
            </div>
            <div class="project">
              <div class="project-image">
                <img src="../img/hospital-management-system.webp" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Efficient Hospital Management System</h3>
                <p>Experience advanced healthcare management with our intuitive OOPS-based Hospital Management System. Effortlessly handle hospital processes, organize patient information, and elevate overall medical care efficiency for a streamlined and superior healthcare experience.</p>

                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Hospital-Management-system-C--oops-project.git" target="_blank" class="project-button">GitHub</a>
                  <a href="../pdf/TEAM__5_Hospital_Management_system.pdf" target="_blank" class="project-button">PDF</a>
                </div>
              </div>
            </div>
            <div class="project">
              <div class="project-image">
                <img src="../img/color_sorting_machine.png" alt="Project 2">
              </div>
              <div class="project-info">
                <h3>Embedded Color Sorting and Weighing Machine</h3>
                <p>Explore the world of embedded systems with our Color Sorting Machine project. This sophisticated solution not only excels in efficient color sorting but also integrates cutting-edge technology for precise weight detection, showcasing innovation at the forefront of embedded systems technology.</p>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/colour-sorting-and-weighing-machine_embedded_system_project-.git" target="_blank" class="project-button">GitHub</a>
                  <a href="../pdf/color_sorting_project_report.pdf" target="_blank" class="project-button">PDF</a>
                </div>
              </div>
            </div>
            <div class="project">
                <div class="project-image">
                  <img src="../img/under wireless comm.png" alt="Project 2">
                </div>
                <div class="project-info">
                  <h3>Underwater Wireless Communication</h3>
                <p>Dive into the world of innovation with our project on Underwater Wireless Communication. Utilizing an IR sensor as a transmitter and a TSOP1738 receiver, this innovative solution redefines underwater communication, pushing the boundaries of technological possibilities. Experience a new era in subaquatic connectivity where data flows seamlessly beneath the waves, bridging the gap between innovation and exploration.</p>
                
                  <div class="project-buttons">
                    <a href="https://github.com/shuklaAlkesh/UnderWater-wireless-communication-using-ir-sensor-as-a-transmittor-and-tsop1738-receivers-.git" target="_blank" class="project-button">GitHub</a>
                    <a href="../pdf/UNDER_WATER_WIRELESS_COMMUNICATION_FCOM_PROJECT (2).pdf" target="_blank" class="project-button">PDF</a>
                  </div>
                </div>
              </div>
            <!-- Add more project slides as needed -->
          </div>
        </div>
      </section>
      <!--------------Footer section ----------------------->

    <footer class="footer-section">
      <div class="footer-container">
        <div class="footer-left">
          <h3>Contact</h3>
          <ul>
            <li><i class="fas fa-envelope"></i> Email: shuklalkesh@gmail.com</li>
            <li><i class="fas fa-phone"></i> Phone: +91 9569779290</li>
          </ul>
        </div>
        <ul class="menu">
          <li><a href="../Components/home.html">Home</a></li>
          <li><a href="../Components/Skills.html">Skills</a></li>
          <li><a href="../Components/project.html">Project</a></li>
          <li><a href="../Components/certificate.html">Certificate</a></li>
          <li><a href="../Components/About.html">About</a></li>
        </ul>
        <div class="footer-right">
          <h3>Social Media</h3>
          <div class="social-icons">
            <a href="https://www.facebook.com/alkesh.shukla.7923" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/shuklaAlkesh" target="_blank"><i class="fab fa-github"></i></a>
          </div>
          <a href="../pdf/Alkesh_Shukla_resume.pdf" download class="resume-button">Download Resume</a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2023 Alkesh shukla. All rights reserved.</p>
      </div>
    </footer>
    
</body>
</html>