<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css" integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f8903551c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <title>Project</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="logo navbar-brand">
                <a href="../index.html"><h1>AlkeshXperience</h1></a>
            </div>
            <ul class="nav_menu">
              <li><a href="../Components/home.html">Home</a></li>
              <li><a href="../Components/Skills.html">Skills</a></li>
              <li><a href="../Components/experiance.html">Experience</a></li>
              <li><a href="../Components/project.html">Project</a></li>
              <li><a href="../Components/certificate.html">Certificate</a></li>
              <li><a href="../Components/About.html">About</a></li>
            </ul>
            <span class="navbar-text">
                <div class="social-icon">
                    <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/"><img src="../img/nav-icon1.svg" alt="" /></a>
                    <a href="https://github.com/shuklaAlkesh" target="_blank"><img src="../img/github.png"/></a>
                    <a href="https://www.facebook.com/alkesh.shukla.7923"><img src="../img/nav-icon2.svg" alt="" /></a>
                    <a href="https://www.instagram.com/shuklalkesh_11/"><img src="../img/nav-icon3.svg" alt="" /></a>
                </div>
                <button class="connectButton">Let's Connect</button>
            </span>
        </div>
    </nav>
    <section class="projects-section">
        <h2>Full Stack Web Development Project</h2>
        <div class="slider-container">
          <div class="slider">

            <div class="project">
              <div class="project-image">
                <img src="../img/Globetrotter.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Globetrotter Game</h3>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Globetrotter-Challenge" target="_blank" class="project-button">GitHub</a>
                  <a href="https://globetrotter-travel-guessing-game-alpha.vercel.app/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>


            <div class="project">
              <div class="project-image">
                <img src="../img/portfolioImage.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>AlkeshXperience</h3>
                  <!-- <p>Next-Gen IONT: Integrating Molecular and Terahertz for Nanomachines</p> -->

                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Alkesh_portfolio.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://shuklaalkesh.github.io/Alkesh_portfolio/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/CharchaHub.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>CharchaHub</h3>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/CharchaHub.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://charcha-hub.vercel.app/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>


            <div class="project">
              <div class="project-image">
                <img src="../img/TastyTrials_website.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Tasty Trials</h3>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Zomato-Restaurant-Listing-and-Searching-App.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://tasty-trails-one.vercel.app/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/chatbot-interface.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>CDP-Intelligence-Hub</h3>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/CDP-Intelligence-Hub" target="_blank" class="project-button">GitHub</a>
                  <!-- <a href="https://charcha-hub.vercel.app/" target="_blank" class="project-button">Visit site</a> -->
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/clone-google-sheet.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Clone-google-Sheet</h3>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Clone-google-Sheet" target="_blank" class="project-button">GitHub</a>
                  <!-- <a href="https://charcha-hub.vercel.app/" target="_blank" class="project-button">Visit site</a> -->
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/Dashboard.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Dashboard</h3>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/EMotorad-Dashboard-Assignment" target="_blank" class="project-button">GitHub</a>
                  <!-- <a href="https://charcha-hub.vercel.app/" target="_blank" class="project-button">Visit site</a> -->
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/EcoFlex_gym.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>ECOFLEX GYM</h3>
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/ECOFLEX-GYM.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://ecoflex-gym.vercel.app/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/webdevProject1.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Travellers website</h3>
                  <!-- <p>Next-Gen IONT: Integrating Molecular and Terahertz for Nanomachines</p> -->

                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Travellers_website_HTML_CSS_project.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://shuklaalkesh.github.io/Travellers_website_HTML_CSS_project/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/webdevProject4.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Educational Responsive Website</h3>
                <!-- <p>Experience advanced healthcare management with our intuitive OOPS-based Hospital Management System. Effortlessly handle hospital processes, organize patient information, and elevate overall medical care efficiency for a streamlined and superior healthcare experience.</p> -->

                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Educational-Responsive-website-design-using-HTML-CSS-And-Javascript.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://shuklaalkesh.github.io/Educational-Responsive-website-design-using-HTML-CSS-And-Javascript/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/webdevProject6.png" alt="Project 2">
              </div>
              <div class="project-info">
                <h3>Bookstore Ecommerce Website</h3>
              <!-- <p>Dive into the world of innovation with our project on Underwater Wireless Communication. Utilizing an IR sensor as a transmitter and a TSOP1738 receiver, this innovative solution redefines underwater communication, pushing the boundaries of technological possibilities. Experience a new era in subaquatic connectivity where data flows seamlessly beneath the waves, bridging the gap between innovation and exploration.</p> -->
              
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Bookstore-Ecommerce-Website-using-MERN-Stack.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://book-store-three-kappa.vercel.app/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/webdevProject2.png" alt="Project 1">
              </div>
              <div class="project-info">
                <h3>Drum Kit Website</h3>
                <!-- <p>Revolutionizing medical diagnostics, our project utilizes advanced Machine Learning and Deep Learning for early detection of brain tumors through MRI scans. Experience the future of healthcare with precise and efficient diagnosis.</p> -->

                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Drum-kit-website-using-HTML-CSS-and-Javascript.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://shuklaalkesh.github.io/Drum-kit-website-using-HTML-CSS-and-Javascript/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>

            <div class="project">
              <div class="project-image">
                <img src="../img/webdevProject3.png" alt="Project 2">
              </div>
              <div class="project-info">
                <h3>The Simon Game</h3>
                <!-- <p>Efficient synthesis of reversible circuits using Quantum Dot Cellular Automata for energy-efficient and compact computing.</p> -->
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/The-Simon-Game-Using-HTML-CSS-and-jQuery.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://shuklaalkesh.github.io/The-Simon-Game-Using-HTML-CSS-and-jQuery/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>
        
            <div class="project">
              <div class="project-image">
                <img src="../img/webdevProject5.png" alt="Project 2">
              </div>
              <div class="project-info">
                <h3>Age Calculator App</h3>
                <!-- <p>Explore the world of embedded systems with our Color Sorting Machine project. This sophisticated solution not only excels in efficient color sorting but also integrates cutting-edge technology for precise weight detection, showcasing innovation at the forefront of embedded systems technology.</p> -->
                <div class="project-buttons">
                  <a href="https://github.com/shuklaAlkesh/Age_Calculator_App.github.io.git" target="_blank" class="project-button">GitHub</a>
                  <a href="https://shuklaalkesh.github.io/Age_Calculator_App.github.io/" target="_blank" class="project-button">Visit site</a>
                </div>
              </div>
            </div>


            <!-- Add more project slides as needed -->
          </div>
        </div>
      </section>
      <!--------------Footer section ----------------------->

    <footer class="footer-section">
      <div class="footer-container">
        <div class="footer-left">
          <h3>Contact</h3>
          <ul>
            <li><i class="fas fa-envelope"></i> Email: shuklalkesh@gmail.com</li>
            <li><i class="fas fa-phone"></i> Phone: +91 9569779290</li>
          </ul>
        </div>
        <ul class="menu">
          <li><a href="../Components/home.html">Home</a></li>
          <li><a href="../Components/Skills.html">Skills</a></li>
          <li><a href="../Components/project.html">Project</a></li>
          <li><a href="../Components/certificate.html">Certificate</a></li>
          <li><a href="../Components/About.html">About</a></li>
        </ul>
        <div class="footer-right">
          <h3>Social Media</h3>
          <div class="social-icons">
            <a href="https://www.facebook.com/alkesh.shukla.7923" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/alkesh-shukla-a002b0239/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/shuklaAlkesh" target="_blank"><i class="fab fa-github"></i></a>
          </div>
          <a href="../pdf/Alkesh_Shukla_resume.pdf" download class="resume-button">Download Resume</a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 Alkesh shukla. All rights reserved.</p>
      </div>
    </footer>
    
</body>
</html>